<!--{template header}-->
<!--{template error_msg}-->
<!--{if empty($monthes)}-->
 <p>没有支付数据</p>
<!--{else}-->
<form method="post" action="admincp.php?mod=sysstat&act=pay" id="form1" name="form1">
<table width="400" align="center">
	<caption>
	<h1>查询支付情况</h1>
	</caption>
	<tr>
		<td align="right">月份:</td>
		<td>
			<select name="search_month">
			<!--{loop $monthes $d}-->
			<option value="{$d[month]}" {if $search_month == $d[month]}selected="true"{/if}>{$d[month]}</option>
			<!--{/loop}-->
			</select>
		</td>
		<td align="right">排序方式:</td>
		<td>
			<select name="sort_field">
				<option value="1" {if $_POST[sort_field] == 1}selected{/if}>日期</option>
				<option value="2" {if $_POST[sort_field] == 2}selected{/if}>支付数量</option>
			</select>
		</td>
	</tr>
	<tr>
		<td width="60" align="right">选项:</td>
		<td>
			<label for="sort_order">
				<input type="checkbox" {if $_POST[sort_order] == '1'} checked {/if} name="sort_order" id="sort_order" value="1" />升序
			</label>
		<td></td>
		<td>
			<input type="submit" value="查询" name="search"/>
		</td>
	</tr>
	<tr>
		<td width="60" align="right">日期:</td>
		<td><input type="text" name="create_stat_date" value="{$date}"/>
		<br />日期格式:yyyy-mm-dd</td>
		<td></td>
		<td>
			<input type="submit" value="生成该日统计" name="create_day_stat"/>
		</td>
	</tr>
</table>

<div style="width:800px;height:400px;overflow-x:auto;">
<!--{if !empty($search_data)}-->
<table align="center" cellpadding="4" cellspacing="0" border="1" style="border: 1px;">
	<caption>
	<h3>{$search_month} 支付统计数据</h3>
	</caption>
	<thead>
		<tr>
			<td width="50">No.</td>
			<td width="120">日期</td>
			<td width="100">所属月份</td>
			<td width="100">支付数量</td>
		</tr>
	</thead>
		<!--{loop $search_data $idx $sd}-->
			<tr {if $pay_today == $sd[stat_date]}style="background-color:red"{/if}>
				<td>{php echo $idx + 1;}</td>
				<td>{$sd[stat_date]}</td>
				<td>{$sd[month]}</td>
				<td>{$sd[money]}</td>
			</tr>
		<!--{/loop}-->
</table>
<!--{elseif isset($_POST[search])}-->
<p>没有该月的统计数据。</p>
<!--{/if}-->
</div>
</form>
<!--{/if}-->
<!--{template footer}-->