<!--{template header}-->
<!--{template error_msg}-->
<form id ="activityadd" name ="activityadd"   method="post">
<table>
	<tr>
	<td align="left">
		<table border="0px" cellspacing="0" cellpadding="5">
			<tr>
				<td>活动名称：</td>
				<td><input id="name" name="name" type="text" value="{$activityArr[name]}"/>
				</td>
			</tr>
			<tr>
				<td>礼包数量：</td>
				<td><input id="count" name="count" type="text" value="{$activityArr[count]}"/>
				</td>
			</tr>
			<tr>
				<td>活动时间：</td>
			</tr>
			<tr>
				<td>From:</td>
				<td><input id="start_time" name="start_time" type="text" value="{$activityArr[start_time]}"/> YYYY-MM-DD </td>
				
			</tr>
			<tr><td>To:</td>
				<td><input id="stop_time" name="stop_time" type="text" value="{$activityArr[stop_time]}"/> YYYY-MM-DD 
				</td>
			</tr>
			<tr>
				<td>选项</td>
		<td><label for="edit"> <input name="edit" type="checkbox" id="edit" value="1" <!--{if !isset($edit) || $_POST['edit'] == 1 }-->checked="true"<!--{/if}-->  />编辑礼包 </label></td>
			</tr> 
		</table>
	</td>
	</tr>
	<tr>
	<td align="left">
		<table border="0px" cellspacing="0" cellpadding="5">
		</table>
	</td>
	</tr>
	<tr>
	<td align="left">
		<input type="submit" value="添加活动" name="insert" />
	</td>
	<td align="left">
		<input type="submit" value="查看活动" name="get" />
	</td>
	</tr>
</table>
</form>
<!--{if !empty($activity_def)}-->
<table border='1'>
  <tr>
     <!--{loop $heads $head}-->
	<th>{$head}</th>
	<!--{/loop}-->  
	</tr>
  <tr>
    <!--{loop $activity_def $key $value}-->
	<td>{$value}</td>
	<!--{/loop}-->
  </tr>
</table>

<!--{/if}-->

<!--{template footer}-->