<!--{template header}-->
<form action="admincp.php?mod=activity&act=test" method="post" >

<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
  <tr>
    <td colspan="2" align="center">活动测试</td>
  </tr>
  <tr>
    <td width="38%" align="right" bgcolor="#FFFFFF">活动ID</td>
    <td width="62%" bgcolor="#FFFFFF"><input type="text" name="activity_id"></td>
  </tr>
  <tr>
    <td align="right" bgcolor="#FFFFFF">用户ID</td>
    <td bgcolor="#FFFFFF"><input type="text" name="uid"></td>
  </tr>
  <tr>
    <td colspan="2" align="center" bgcolor="#FFFFFF"><input type="submit" name="Submit" value="提交"></td>
  </tr>
</table>
</form>

<!--{template footer}-->