<div class="sbox">
	<div class="sTitle">信息查询</div>
	<ul>
		<li>
			<a href="admincp.php?mod=admin&act=index">首页</a>
		</li>
		<li>
			<a href="admincp.php?mod=user&act=info">用户信息</a>
		</li>
		<li>
			<a href="admincp.php?mod=user&act=pay">用户充值</a>
		</li>
		<li>
			<a href="admincp.php?mod=user&act=eventlog">新鲜事件</a>
		</li>
		<li>
			<a href="admincp.php?mod=user&act=actionlog">用户事件</a>
		</li>
		<li>
			<a href="admincp.php?mod=user&act=info&action=ownedlist">用户购买的道具</a>
		</li>
		<li>
			<a href="admincp.php?mod=user&act=info&action=warehouselist">用户仓库</a>
		</li>
	</ul>
</div>
<div class="sbox">
	<div class="sTitle">高级管理</div>
</div>
<div class="sbox">
	<div class="sTitle">设置道具</div>
	<ul>
		<li>
			<a href="admincp.php?mod=item&act=list">道具列表</a>
		</li>
		<li>
			<a href="admincp.php?mod=item&act=add">增加道具</a>
		</li>
		<!--  
		<li>
			<a href="admincp.php?mod=item&act=option">操作道具</a>
		</li>
		
		<li>
			<a href="admincp.php?ac=upditem">修改道具</a>
		</li>
		-->
	</ul>
</div>