<!--{template header}-->
<script type="text/javascript">
function checkUser(){
	if(!$('#username').val()){
		alert("用户名不能为空！");
		return;
	}
	if(!$("#adminuid").val()){
		var pass = $("#password").val();
		var pass_rep = $("#password_rep").val();
		if(pass.length < 4){
			alert("密码长度不能小于4个字符！");
			return;
		}
		if(pass != pass_rep){
			alert('两次输入的密码不同。');
			return;
		}
	}
	if(!$("#email").val()){
		alert("电子邮件不能为空！");
		return;
	}
	$("#useradd").submit();	
}
</script>
<!--{template error_msg}-->
<form id="useradd" name="useradd"
	action="admincp.php?mod=admin&act=adduser" method="post">
<table>
	<tr>
		<td align="left">
		<table border="0px" cellspacing="0" cellpadding="5">
			<tr>
				<td>用户名：</td>
				<td><input id="username" name="username" type="text" value="{$user[username]}" 
				<!--{if !empty($user[adminuid])}--> readonly="true" <!--{/if}--> />
				<!--{if isset($nameerror)}-->{$nameerror}<!--{/if}-->
				<input type="hidden" id="adminuid" name ="adminuid" value="{$user[adminuid]}" />
				</td>
			</tr>
			<!--{if empty($user[adminuid])}-->
			<tr>
				<td>密码：</td>
				<td><input id="password" name="password" type="password" value="" /></td>
			</tr>
			<tr>
				<td>重复密码：</td>
				<td><input id="password_rep" name="password_rep" type="password" value="" /></td>
			</tr>
			<!--{/if}-->
			<tr>
				<td>E-mail：</td>
				<td><input id="email" name="email" type="text" value="{$user[email]}" /></td>
			</tr>
			<tr>
				<td>工作组：</td>
				<td>
				<div><!--{loop $groups $gid $limit}-->
				<input type="radio" value="{$gid}" name="group_id" <!--{if $user[group_id] == $gid}-->checked="true" <!--{/if}--> />{$limit}<br />
				<!--{/loop}--></div>
				</td>
			</tr>
		</table>
		<input name="addadmin" type="hidden" value="add" /></td>
	</tr>
	<tr>
		<td align="left">
		<!--{if empty($user[adminuid])}-->
		<input type="button" value="增加用户"	onclick="checkUser();" />
		<!--{else}-->
		<input type="button" value="编辑"	onclick="checkUser();" />
		<!--{/if}-->
		</td>
	</tr>
</table>
</form>
<!--{template footer}-->